.services {
    padding: 50px 0 30px; 
   
    &__items {
        display: flex;
        justify-content: space-between;
        margin-top: 60px;
    }

    &__item {
        max-width: 360px;
        min-height: 375px;
        text-align: center;
        padding: 30px 30px 80px;
        background-color: #f9f9f9;
        box-shadow: 0 7px 24px 3px rgba(91, 89, 89, 0.14);
        position: relative;

        &-title {
            font-family: 'Roboto', sans-serif;
            color: #212020;
            font-size: 18px;
            line-height: 24px;
            font-weight: 500;
            padding: 24px 0;
        }

        &-text {
            letter-spacing: 0.1px;
            margin-bottom: 60px;
        }

        &-links {
            position: absolute;
            bottom: 40px;
            right: 0;
            left: 0;
        }

        &-link {
            font-family: 'Roboto', sans-serif;
            color: #050505;
            border-bottom: 1px solid #050505;
            margin-right: 60px;
        }

        &-btn {
            color: #373636;
            &:after {
                color: #fff;
            }
        }
    }
}


@media (max-width: 1200px) {
    .services {
        &__items {
            flex-direction: column;
            align-items: center;      
        }

        &__item {
            max-width: 70%;
            min-height: 330px;
            margin-bottom: 30px;
        }
    }
}


@media (max-width: 576px) {
    .services__item {
        max-width: 95%;
        min-height: 375px;
    }
}

@media (max-width: 360px) {
    .services__item {
        max-width: 100%;
    }
}